<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
	<comment>홍보게시판 관련 SQL문</comment>
	
	
	<entry key="insertPromotionFile">
		INSERT
		  INTO
		  		PROMOTION_FILE
		  		(
		  		PROMTOION_FILE_NO,
		  		PROMOTION_ORIGIN_NAME,
		  		PROMOTION_CHAGNE_NAME,
		  		PROMOTION_FILE_PATH,
		  		PROMOTION_NO
		  		)
		VALUES
				(
				PROMOTION_FILE_SEQ.NEXTVAL,
				?,
				?,
				?,
				PROMOTION_SEQ.CURRVAL
				)
	</entry>
	
	<entry key="updatePromotionFile">
		UPDATE
				PROMOTION_FILE
		   SET 
		   		PROMOTION_FILE_ORIGIN_NAME = ?,
		   		PROMOTION_FILE_CHANGE_NAME = ?,
				PROMOTION_FILE_PATH = ?,
				PROMOTION_FILE_UPLOAD_DATE = SYSDATE
		 WHERE
		 		PROMOTION_FILE_NO = ?
	</entry>
	
	<entry key="selectPromotionFile">
		SELECT 
				PROMOTION_FILE_NO,
				PROMOTION_FILE_ORIGIN_NAME,
				PROMOTION_FILE_CHANGE_NAME,
				PROMOTION_FILE_PATH
		  FROM
		  		PROMOTION_FILE
	</entry>
	
	<entry key="insertNewPromotionFile">
		INSERT
		  INTO
		  		PROMOTION_FILE
		  		(
		  		PROMOTION_FILE_NO,
		  		PROMOTION_ORIGIN_NAME,
		  		PROMOTION_CHANGE_NAME,
		  		PROMOTION_FILE_PATH,
		  		PROMOTION_NO
		  		)
		VALUES
				(
				PROMOTION_FILE_SEQ.NEXTVAL,
				?,
				?,
				?,
				PROMOTION_SEQ.CURRVAL
				)
	</entry>
	
	<entry key="insertPromotionBoard">
		INSERT
		  INTO
		  		PROMOTION_BOARD
		  		(
		  		PROMOTION_NO,
		  		PROMOTION_TITLE,
		  		PROMOTION_CONTENT,
		  		PROMPTION_WRITER
		  		)
		VALUES
				(
				PROMOTION_SEQ.NEXTVAL,
				?,
				?,
				?
				)
	</entry>
	
	<entry key="insertPromotionBoard">
		INSERT 
		  INTO
		  		PROMOTION_BOARD
				(
				PROMOTION_NO,
				PROMOTION_TITLE,
				PROMOTION_CONTENT,
				PROMOTION_WRITER
				)
		VALUES
		 		(
				PROMOTION_SEQ.NEXTVAL,
				?,
				?,
				?
				)
	</entry>
	
	<entry key="insertPromotionFileList">
		INSERT
		  INTO
		  		PROMOTION_FILE
		  		(
		  		PROMOTION_FILE_NO,
		  		PROMOTION_FILE_ORIGIN_NAME,
				PROMOTION_FILE_CHANGE_NAME,
				PROMOTION_FILE_PATH,
				PROMOTION_FILE_LEVEL,
				PROMOTION_NO
		  		)
		VALUES
				(
				PROMOTION_FILE_SEQ.NEXTVAL,
				?,
				?,
				?,
				?,
				PROMOTION_SEQ.CURRVAL
				)
	</entry>
	
	
	
	

</properties>
