<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
	<comment>회원 관련 SQL</comment>

	<entry key="loginMember">
		
		SELECT
			MEMBER_NO,
			MEMBER_ID,
			MEMBER_PWD,
			MEMBER_NAME,
			EMAIL,
			PHONE,
			NICKNAME,
			ADDRESS,
			AGE,
			GENDER,
			ENROLL_DATE,
			STATUS
		FROM
			MEMBER
		WHERE
			MEMBER_ID = ?
		AND
			MEMBER_PWD = ?
		AND
			STATUS = 'U'
	</entry>

	<entry key="detailMember">
		SELECT
			MEMBER_NO,
			MEMBER_ID,
			MEMBER_PWD,
			MEMBER_NAME,
			EMAIL,
			PHONE,
			NICKNAME,
			ADDRESS,
			AGE,
			GENDER,
			ENROLL_DATE,
			STATUS
		FROM
			MEMBER
		WHERE
			MEMBER_NO = ?
	</entry>
	
	<entry key="insertMember">
		INSERT
		INTO
		MEMBER
		(
		MEMBER_NO,
		MEMBER_ID,
		MEMBER_PWD,
		MEMBER_NAME,
		EMAIL,
		PHONE,
		NICKNAME,
		ADDRESS,
		AGE,
		GENDER		
		)
		VALUES
		(
		MEMBER_SEQ.NEXTVAL,
		?,
		?,
		?,
		?,
		?,
		?,
		?,
		?,
		?
		)
	</entry>
	
	<entry key="memberStatus">
		UPDATE
			MEMBER
		SET
			STATUS = ?
		WHERE
			MEMBER_NO = ?
	</entry>
	
	<entry key="idCheck">
	SELECT	COUNT(*)
	FROM MEMBER
	WHERE MEMBER_ID = ?
	</entry>
	
	<entry key="findId">
	SELECT
		MEMBER_ID,
		EMAIL,
		PHONE
	FROM
		MEMBER
	WHERE 
		EMAIL = ?
	AND
		PHONE = ?
	</entry>
	
	<entry key="findPwd">
	SELECT
		MEMBER_ID,
		MEMBER_PWD,
		EMAIL,
		PHONE
	FROM
		MEMBER
	WHERE
		MEMBER_ID = ?
	AND
		EMAIL = ?
	AND
		PHONE = ?
	</entry>
	
	<entry key="pwdCheck">
	SELECT
		MEMBER_NO
	FROM
		MEMBER
	WHERE
		MEMBER_PWD = ?
	</entry>
	
	<entry key="updateMember">
	UPDATE
		MEMBER
	SET
		MEMBER_NAME = ?,
        NICKNAME = ?,
		ADDRESS = ?,
		AGE = ?
	WHERE
		MEMBER_ID = ? 
	AND
		STATUS = 'U'
	</entry>
	
	<entry key="selectMember">
	SELECT
		MEMBER_NO,
		MEMBER_ID,
		MEMBER_PWD,
		MEMBER_NAME,
		EMAIL,
		PHONE,
		NICKNAME,
		ADDRESS,
		AGE,
		GENDER,
		ENROLL_DATE,
		STATUS
	FROM
		MEMBER
	WHERE
		MEMBER_ID = ?
	</entry>
	
	<entry key="updatePwdMember">
	UPDATE
		MEMBER
	SET 
		MEMBER_PWD = ?
	WHERE
		MEMBER_NO =?
	AND
		MEMBER_PWD = ?
	</entry>

	<entry key="deleteMember">
	UPDATE
		MEMBER
	SET
		STATUS='S'
	WHERE
		MEMBER_NO =?
	AND	
		MEMBER_PWD =?
	AND 
		STATUS = 'U'
	</entry>
	
</properties>