<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
	<comment>자유게시판 관련 SQL</comment>
	
	<entry key="selectListCount">
	SELECT 
			COUNT(*)
		FROM
			BOARD
		WHERE
			STATUS = 'Y'

	</entry>
	
	<entry key="selectList">
	SELECT *
    FROM (SELECT ROWNUM RNUM, A.*
            FROM(SELECT
                        BOARD_NO,
                        BOARD_NAME,
                        MEMBER_ID,
                        BOARD_VIEW,
                        BOARD_DATE
                    FROM
                        BOARD B
                    JOIN 
                        MEMBER M ON(B.MEMBER_NO = M.MEMBER_NO)
                    WHERE
                        B.STATUS = 'Y'
                    ORDER
                        BY BOARD_DATE DESC) A)
        		WHERE RNUM BETWEEN ? AND ?
	
	</entry>
	
	<entry key="insertBoard">
		INSERT
		  INTO
		  		BOARD
		  		(
		  		BOARD_NO,
		  		BOARD_NAME,
		  		BOARD_CONTENT,
		  		MEMBER_NO
		  		)
		  VALUES
		  		(
		  		BOARD_SEQ.NEXTVAL,
		  		?,
		  		?,
		  		?
		  		)
	
	</entry>
	
	<entry key="insertBoardFile">
		INSERT
		  INTO
		  		BOARD_FILE
		  		(
		  		BOARD_FILE_NO,
		  		BOARD_FILE_ORIGIN_NAME,
		  		BOARD_FILE_CHANGE_NAME,
		  		BOARD_FILE_PATH,
		  		BOARD_NO
		  		)
		  VALUES
		  		(
		  		BOARD_FILE_SEQ.NEXTVAL,
		  		?,
		  		?,
		  		?,
		  		BOARD_SEQ.CURRVAL
		  		)
	</entry>
	
	<entry key="increaseCount">
		UPDATE
			  BOARD
		   SET
		   		BOARD_VIEW = BOARD_VIEW +1
		   	WHERE
		   		BOARD_NO = ?
		   	AND
		   		STATUS = 'Y'
	</entry>
	
	<entry key="selectBoard">
		SELECT
			  BOARD_NO,
			  BOARD_NAME,
			  BOARD_CONTENT,
			  MEMBER_ID,
			  BOARD_DATE,
			  BOARD_VIEW
		FROM
			BOARD B
		JOIN
			MEMBER M ON(B.MEMBER_NO = M.MEMBER_NO)
		WHERE
			BOARD_NO = ?
		AND
			B.STATUS = 'Y'
		
	</entry>
	
	<entry key="selectBoardFile">
		SELECT
			  BOARD_FILE_NO,
			  BOARD_FILE_ORIGIN_NAME,
			  BOARD_FILE_CHANGE_NAME,
			  BOARD_FILE_PATH
		  FROM
		  	  BOARD_FILE
		  WHERE
		  		BOARD_NO = ?	
		
	</entry>
	
	<entry key="updateBoard">
		UPDATE
			  BOARD
		  SET
		  	 BOARD_NAME = ?,
		  	 BOARD_CONTENT = ?
		WHERE
			  BOARD_NO = ?		
		
	</entry>
	
	<entry key="updateBoardFile">
		UPDATE
			  BOARD_FILE
		  SET
		  	 BOARD_FILE_ORIGIN_NAME = ?,
			 BOARD_FILE_CHANGE_NAME =?,
			 BOARD_FILE_PATH = ?,
			 BOARD_FILE_UPLOAD_DATE = SYSDATE
		WHERE
			 BOARD_FILE_NO = ?
		  	 
	</entry>
	
	<entry key="insertNewBoardFile">
		INSERT
		  INTO
		  	  BOARD_FILE
		  		(
		  		BOARD_FILE_NO,
		  		BOARD_FILE_ORIGIN_NAME,
		  		BOARD_FILE_CHANGE_NAME,
		  		BOARD_FILE_PATH,
		  		BOARD_NO
		  		)
		  VALUES
		  		(
		  		BOARD_FILE_SEQ.NEXTVAL,
		  		?,
		  		?,
		  		?,
		  		?
		  		)
	</entry>
	
	<entry key="deleteBoard">
		UPDATE
			  BOARD
		   SET
		      STATUS = 'N'
		 WHERE
		 	  BOARD_NO = ?
		   AND
		   	  STATUS = 'Y'
	</entry>

</properties>