<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
	<comment>플레이스 관련 SQL</comment>
		
	<entry key ="selectListCount">
		SELECT
			COUNT(*)
		FROM
			PLACE
		WHERE
			PLACE_STATUS = 'Y'
	</entry>
	
	<entry key="selectPlaceContentList">
		SELECT *
	      FROM (SELECT ROWNUM RNUM, A.*
			  FROM(SELECT 
			         PLACE_NO, 
			         PLACE_CATEGORY_NAME, 
			         LOCAL_CATEGORY_NAME, 
  			         PLACE_NAME, 
			         PLACE_FILE_PATH || PLACE_FILE_CHANGE_NAME TITLEIMG
			    FROM 
			         PLACE 
			    JOIN  
			         PLACE_FILE USING (PLACE_NO) 
			    JOIN
			         PLACE_CATEGORY USING (PLACE_CATEGORY_NO)
			    JOIN
			         LOCAL_CATEGORY USING (LOCAL_CATEGORY_NO)
			   WHERE 
			         PLACE_FILE_LEVEL = 1  
			     AND 
			         PLACE_STATUS = 'Y' 
			   ORDER 
			      BY 
			         PLACE_NO DESC) A)
       WHERE RNUM BETWEEN ? AND ?
	</entry>
	
	<entry key="selectPlaceCategoryList">
		SELECT
			   PLACE_CATEGORY_NO, 
			   PLACE_CATEGORY_NAME
		  FROM
		  	   PLACE_CATEGORY
	</entry>
	
	<entry key="selectLoaclCategoryList">
		SELECT
			   LOCAL_CATEGORY_NO, 
			   LOCAL_CATEGORY_NAME
		  FROM
		  	   LOCAL_CATEGORY
	</entry>
	
	<entry key="insertPlaceContent">
		INSERT 
		  INTO 
		  	   PLACE 
		  	   	 ( 
		  	   	 	PLACE_NO, 
		  	   	 	PLACE_NAME, 
		  	   	 	PLACE_ADDRESS, 
		  	   	 	PLACE_PHONE, 
		  	   	 	PLACE_TIMES, 
		  	   	 	PLACE_URL, 
		  	   	 	PLACE_INFO, 
		  	   	 	PLACE_AROUND, 
		  	   	 	PLACE_PRICE, 
		  	   	 	PLACE_CAUTION, 
		  	   	 	PLACE_MAP, 
		  	   	 	MEMBER_NO, 
		  	   	 	PLACE_CATEGORY_NO, 
		  	   	 	LOCAL_CATEGORY_NO
		  	   	 ) 
		VALUES 
		 	   	 ( 
		 	   	 	PLACE_SEQ.NEXTVAL, 
		 	   	 	?, 
		 	   	 	?, 
		 	   	 	?, 
		 	   	 	?, 
		 	   	 	?, 
		 	   	 	?, 
		 	   	 	?, 
		 	   	 	?, 
		 	   	 	?, 
		 	   	 	?, 
		 	   	 	?, 
		 	   	 	?, 
		 	   	 	? 
		 	   	 ) 
		 
	</entry>
	
	<entry key="insertPlaceFileList">
		INSERT 
		  INTO 
		  	   PLACE_FILE 
		  	   	 ( 
		  	   	 	PLACE_FILE_NO, 
		  	   	 	PLACE_FILE_ORIGIN_NAME, 
		  	   	 	PLACE_FILE_CHANGE_NAME, 
		  	   	 	PLACE_FILE_PATH, 
		  	   	 	PLACE_FILE_UPLOAD_DATE, 
		  	   	 	PLACE_FILE_LEVEL, 
		  	   	 	PLACE_NO 
		  	   	 ) 
		VALUES 
			   	 ( 
			   	 	PLACE_FILE_SEQ.NEXTVAL, 
			   	 	?, 
			   	 	?, 
			   	 	?, 
			   	 	SYSDATE, 
			   	 	?, 
			   	 	PLACE_SEQ.CURRVAL 
			   	 ) 
	</entry>
	
	<entry key="insertNewPlaceFileList">
		INSERT 
		  INTO 
		  	   PLACE_FILE 
		  	   	 ( 
		  	   	 	PLACE_FILE_NO, 
		  	   	 	PLACE_FILE_ORIGIN_NAME, 
		  	   	 	PLACE_FILE_CHANGE_NAME, 
		  	   	 	PLACE_FILE_PATH, 
		  	   	 	PLACE_FILE_UPLOAD_DATE,
		  	   	 	PLACE_FILE_LEVEL,  
		  	   	 	PLACE_NO 
		  	   	 ) 
		VALUES 
			   	 ( 
			   	 	PLACE_FILE_SEQ.NEXTVAL, 
			   	 	?, 
			   	 	?, 
			   	 	?, 
			   	 	SYSDATE, 
			   	 	?, 
			   	 	?
			   	 ) 
	</entry>
	
	
	<entry key="selectPlace">
		SELECT 
			   PLACE_NO, 
			   PLACE_NAME, 
			   PLACE_ADDRESS,  
			   PLACE_PHONE,  
			   PLACE_TIMES,  
			   PLACE_URL,  
			   PLACE_INFO,  
			   PLACE_AROUND,  
			   PLACE_PRICE,  
			   PLACE_CAUTION,   
			   PLACE_MAP,  
			   PLACE_CATEGORY_NAME, 
			   LOCAL_CATEGORY_NAME 
		  FROM 
		  	   PLACE 
   		  JOIN
		       PLACE_CATEGORY USING (PLACE_CATEGORY_NO)
		  JOIN
		       LOCAL_CATEGORY USING (LOCAL_CATEGORY_NO)
		 WHERE 
		 	   PLACE_NO = ? 
		   AND 
		   	   PLACE_STATUS = 'Y' 
	</entry>
	
	<entry key="selectPlaceFile">
		SELECT 
			   PLACE_FILE_NO, 
			   PLACE_FILE_ORIGIN_NAME, 
			   PLACE_FILE_CHANGE_NAME, 
			   PLACE_FILE_PATH 
		  FROM 
		 	   PLACE_FILE   
		 WHERE	 
			   PLACE_NO = ? 
		 ORDER BY 
		 	   PLACE_FILE_NO ASC 
	</entry>
	
	<entry key="selectPlaceFileList">
		SELECT
			   PLACE_FILE_NO, 
			   PLACE_FILE_ORIGIN_NAME, 
			   PLACE_FILE_CHANGE_NAME, 
			   PLACE_FILE_PATH
		  FROM
		  	   PLACE_FILE
		 WHERE
		 	   PLACE_NO = ?
		 ORDER
		 	BY
		 	   PLACE_FILE_NO ASC
	</entry>
	
	<entry key="updatePlace">
		UPDATE
			   PLACE
		   SET
		   	   PLACE_NAME = ?, 
		   	   PLACE_ADDRESS = ?, 
		   	   PLACE_PHONE = ?,
		   	   PLACE_TIMES = ?,
		   	   PLACE_URL = ?,
		   	   PLACE_INFO = ? ,
		   	   PLACE_AROUND = ? ,
		   	   PLACE_PRICE = ? ,
		   	   PLACE_CAUTION = ? ,
		   	   PLACE_MAP = ? ,
		   	   PLACE_CATEGORY_NO = ?,
		   	   LOCAL_CATEGORY_NO = ?
		 WHERE
		 	   PLACE_NO = ?
	</entry>
	
	<entry key="updatePlaceFile">
		UPDATE
			   PLACE_FILE
		   SET
		   	   PLACE_FILE_ORIGIN_NAME = ?, 
		   	   PLACE_FILE_CHANGE_NAME = ?, 
		   	   PALCE_FILE_PATH = ?, 
		   	   PLACE_FILE_UPLOAD_DATE = SYSADTE
		 WHERE
		 	   PALCE_FILE_NO = ?
	</entry>
</properties>