@charset "UTF-8";

div {
    /*border: 1px solid black;*/
    box-sizing: border-box;
}

#footer{
    background-color: #975228;
    position: relative;
    width: 100%;
    height: 150px;
    font-weight: 300;
    text-align: left;
    padding: 30px 0;
    font-size: 14px;
}

.footer_wrap {
    width : 1200px;
    height: 100px;
    margin: auto;
}

.footer_wrap > div { 
    float: left;
}

#footer_logo, #footer_info, #footer_btn {
    height : 100%;
    margin: auto;
}

#footer_logo, #footer_btn {
    width: 20%;
}

#footer_info {
    width: 60%;
    line-height: 100px;
}

#footer_logo {
    background-size: 100%;
    background-color: #975228;
    background-repeat: repeat;
}

#footer_logo>h2 {
    line-height: 75px;
    width : 100%;
    height : 100%;
    margin: auto;
    color: #ffce50;
    text-align: center;
}

.footer_span {
    color: aliceblue;
    line-height: 20px;
}

.copy {
    color: gray;
    line-height: 5px;
}

#footer_btn  {
    float: right;
    position: relative;
}

.ft{
    float: right;
    position: absolute;
    right: 40px;
    display: block;
    top: 30px;
}

.ft > div {
    width: 40px;
    height: 40px;
    float: left;
    text-align: center;
    line-height: 35px;
    background-color: #ffce50;
    margin-right: 10px;
    cursor: pointer;
    border: none;
    border-radius: 25px;
}

#site > a > img, #sns > a > img, #map > a > img {
    width: 24px;
    height: 24px;
    padding: 0;
    margin: 0;
}